*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.nav-top{
    background-color: #07766F;
}
.contener{
    width: 1140px;
    margin: auto;
}
.top-text{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.social-icon > label a i{
    margin: 0px 5px;
    font-size: 14px;
}
.social-icon > label a {
    color: aliceblue;
}
.social-icon > label a:hover{
    color: #555;
}
.contact-1 >label{
    margin-right: 16px;
}
.contact-1 >label a{
    color: aliceblue;
}
.contact-1 > label a:hover{
    color: #555;
}
.contact-1 >label a i{
    margin: 0px 5px;
}
/* nav-bar css */
